@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --Dark-Blue : hsl(209, 23%, 22%);   /*(Dark Mode Elements)*/
  --Very-Dark-Blue : hsl(207, 26%, 17%); /*(Dark Mode Background)*/
  --Very-Dark-Blue : hsl(200, 15%, 8%); /* (Light Mode Text) */
  --Dark-Gray : hsl(0, 0%, 52%);      /*(Light Mode Input)*/
  --Very-Light-Gray : hsl(0, 0%, 98%);  /*(Light Mode Background)*/
  --White: hsl(0, 0%, 100%);           /*(Dark Mode Text & Light Mode Elements)*/
}



@layer base{
  @font-face {
      font-family: "Nunito Sans", sans-serif;
      src: url('./assets/font/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
      font-display:swap;
      font-style: normal;
  }
  @font-face {
      font-family: "Nunito Sans", sans-serif;
      src: url('./assets/font/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf');
      font-display:swap;
      font-style: italic;
  }
}